body, header, ul, img{
    margin: 0;
}

header{
    height: 150px;
    width:100%;
    position: relative;
    background-color: black;
}

header img{
    width:300px;
    height:150px;
    float: left;
}

.menu{
    position: absolute;
    display: inline-block;
    top: 38%;
}

.menu li{
    margin-right: 15px;
    display: inline-block;
    color: white;
    font-size: 27px;
    padding: 5px 6px;
    border-radius: 3px;
}

.icon__wrap{
    top: 40%;
    position: absolute;
    display: inline-block;
    right:0;
}

.icon__wrap i {
    color: white;
    font-size: 27px;
    margin-right: 15px;
    transition: 1s;
}

li:hover{
    background-color: #DF0312;
    transition: 1s;
}

.icon__wrap i:hover{
    color: #DF0312;
    transition:1s;
}

/* header end */

/* body start */
.body__wrap{
    display: flex;
    justify-content:center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}



.main__wrap img {
    width: 70vw;
    height: 70vh;
}

@media screen and (max-width: 1250px){
    header img {
        float: none;
    }
    .icon__wrap {
        display: block;
        position: static;
    }

    .menu{
        display: block;
        position: static;
    }
}
